<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>texBtnBgBlue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{1,137},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texBtnBgGreen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{117,160},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texBtnBgOrange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{1,253},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texBtnBgRed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{117,276},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texBtnFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,134}</string>
                <key>spriteSourceSize</key>
                <string>{134,134}</string>
                <key>textureRect</key>
                <string>{{1,1},{134,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texBtnIconBack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,28}</string>
                <key>spriteSourceSize</key>
                <string>{37,28}</string>
                <key>textureRect</key>
                <string>{{1,519},{37,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texBtnIconDownload.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,75}</string>
                <key>spriteSourceSize</key>
                <string>{84,75}</string>
                <key>textureRect</key>
                <string>{{95,392},{84,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texBtnIconPlay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{172,482},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texBtnIconPuzzle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{137,1},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texBtnIconShare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,79}</string>
                <key>spriteSourceSize</key>
                <string>{75,79}</string>
                <key>textureRect</key>
                <string>{{1,442},{75,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>texBtnIconSoundOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,71}</string>
                <key>spriteSourceSize</key>
                <string>{96,71}</string>
                <key>textureRect</key>
                <string>{{137,87},{96,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texBtnIconSoundOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,71}</string>
                <key>spriteSourceSize</key>
                <string>{92,71}</string>
                <key>textureRect</key>
                <string>{{1,369},{92,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texBtnIconTip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,32}</string>
                <key>textureRect</key>
                <string>{{223,1},{24,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texBtnIconTipHide.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,88}</string>
                <key>spriteSourceSize</key>
                <string>{67,88}</string>
                <key>textureRect</key>
                <string>{{181,392},{67,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texBtnIconTipShow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,88}</string>
                <key>spriteSourceSize</key>
                <string>{67,88}</string>
                <key>textureRect</key>
                <string>{{82,469},{67,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>uiAtlas.png</string>
            <key>size</key>
            <string>{249,548}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca5f3af768c97b6641088f1a62d938c7:2e8ad907781169beb4e00bde244df498:9b061eb86370c746f438297113c40538$</string>
            <key>textureFileName</key>
            <string>uiAtlas.png</string>
        </dict>
    </dict>
</plist>
